<%- include("includes/head.ejs"); %>
<body>
    <header>
      
    </header>
    <main>
        <div class="main-box">
            <div class="one">
              <div class="one-first">
                
              </div>
              <div class="one-second">
                
              </div>
              
            </div>
            <div class="two">
                <div class="post-top">
                    <div class="top-bar">
                        <div class="imgDiv">
                            <img src="https://media.licdn.com/dms/image/D5603AQFaIUNMXqDitg/profile-displayphoto-shrink_100_100/0/1679717699950?e=1704326400&v=beta&t=hW8n1FR3TUmRL1MC6mu6x6XiioD1oqO9CdA8wvzAVE4" alt="profile">
                        </div>
                        <div class="search">
                            <input type="text" placeholder="Start a Post">
                        </div>
                    </div>
                    <div class="bottom-options">
                        <div class="media">
                            <i class="fa-solid fa-photo-film"></i>
                            <a href="#">Media</a>
                        </div>
                        <div class="media">
                            <i class="fa-solid fa-briefcase"></i>
                            <a href="#">Jobs</a>
                        </div>
                        <div class="media">
                            <i class="fa-solid fa-newspaper"></i>
                            <a href="#">article</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="main-post">
                    <div class="profile-post">
                      <div class="profile">
                        <img src="https://media.licdn.com/dms/image/D5603AQG-i2XM6TBYmg/profile-displayphoto-shrink_100_100/0/1693675323212?e=1704931200&v=beta&t=wfgEtL16XmSPtenn8iAqB7nUwHDWchgECfkJ1G3mIz8" alt="">
                      </div>
                      <div class="profile-text">
                        <a href="#">Arun M</a>
                        <p>Software Engineer @ Zoho | 64K @ LinkedIn | Creator of One Stop Frontend | 10x your Growt...</p>
                        <span>1hr .&nbsp; <i class="fa-solid fa-earth-americas"></i></span>
                      </div>
                    </div>
                    <div class="post-img">
                      <img src="https://media.licdn.com/dms/image/D4D22AQExsashiXxuVw/feedshare-shrink_800/0/1698932458612?e=1701907200&v=beta&t=M7dN5BbkQ9aQaLtYVTjTUx0fdzO92vytx7eo6ijJs-U" alt="">
                    </div>
                    <div class="bottom-post-options">
                      <div class="top-like">
                        <div class="like">
                          <i class="fa-solid fa-heart"></i>
                          <i class="fa-solid fa-lightbulb"></i>
                          <a href="#">Vinay and 1200 others</a>
                        </div>
                        <div class="comment">
                          <a href="#">399 comments</a>
                          <a href="#">200 repost</a>
                        </div>
                      </div>
                      <div class="bottom-options-bar">
                        <div class="first-like">
                          <i class="fa-regular fa-thumbs-up"></i>
                          <a href="#">Like</a>
                        </div>
                        <div class="first-like">
                          <i class="fa-solid fa-comment"></i>
                          <a href="#">Comment</a>
                        </div>
                        <div class="first-like">
                          <i class="fa-solid fa-circle-notch"></i>
                          <a href="#">Repost</a>
                        </div>
                        <div class="first-like">
                          <i class="fa-solid fa-rocket"></i>
                          <a href="#">Send</a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="main-post">
                  <div class="profile-post">
                    <div class="profile">
                      <img src="https://media.licdn.com/dms/image/D5603AQG-i2XM6TBYmg/profile-displayphoto-shrink_100_100/0/1693675323212?e=1704931200&v=beta&t=wfgEtL16XmSPtenn8iAqB7nUwHDWchgECfkJ1G3mIz8" alt="">
                    </div>
                    <div class="profile-text">
                      <a href="#">Arun M</a>
                      <p>Software Engineer @ Zoho | 64K @ LinkedIn | Creator of One Stop Frontend | 10x your Growt...</p>
                      <span>1hr .&nbsp; <i class="fa-solid fa-earth-americas"></i></span>
                    </div>
                  </div>
                  <div class="post-img">
                    <img src="https://media.licdn.com/dms/image/D4D22AQExsashiXxuVw/feedshare-shrink_800/0/1698932458612?e=1701907200&v=beta&t=M7dN5BbkQ9aQaLtYVTjTUx0fdzO92vytx7eo6ijJs-U" alt="">
                  </div>
                  <div class="bottom-post-options">
                    <div class="top-like">
                      <div class="like">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-lightbulb"></i>
                        <a href="#">Vinay and 1200 others</a>
                      </div>
                      <div class="comment">
                        <a href="#">399 comments</a>
                        <a href="#">200 repost</a>
                      </div>
                    </div>
                    <div class="bottom-options-bar">
                      <div class="first-like">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <a href="#">Like</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-comment"></i>
                        <a href="#">Comment</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-circle-notch"></i>
                        <a href="#">Repost</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-rocket"></i>
                        <a href="#">Send</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-post">
                  <div class="profile-post">
                    <div class="profile">
                      <img src="https://media.licdn.com/dms/image/D5603AQG-i2XM6TBYmg/profile-displayphoto-shrink_100_100/0/1693675323212?e=1704931200&v=beta&t=wfgEtL16XmSPtenn8iAqB7nUwHDWchgECfkJ1G3mIz8" alt="">
                    </div>
                    <div class="profile-text">
                      <a href="#">Arun M</a>
                      <p>Software Engineer @ Zoho | 64K @ LinkedIn | Creator of One Stop Frontend | 10x your Growt...</p>
                      <span>1hr .&nbsp; <i class="fa-solid fa-earth-americas"></i></span>
                    </div>
                  </div>
                  <div class="post-img">
                    <img src="https://media.licdn.com/dms/image/D4D22AQExsashiXxuVw/feedshare-shrink_800/0/1698932458612?e=1701907200&v=beta&t=M7dN5BbkQ9aQaLtYVTjTUx0fdzO92vytx7eo6ijJs-U" alt="">
                  </div>
                  <div class="bottom-post-options">
                    <div class="top-like">
                      <div class="like">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-lightbulb"></i>
                        <a href="#">Vinay and 1200 others</a>
                      </div>
                      <div class="comment">
                        <a href="#">399 comments</a>
                        <a href="#">200 repost</a>
                      </div>
                    </div>
                    <div class="bottom-options-bar">
                      <div class="first-like">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <a href="#">Like</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-comment"></i>
                        <a href="#">Comment</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-circle-notch"></i>
                        <a href="#">Repost</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-rocket"></i>
                        <a href="#">Send</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-post">
                  <div class="profile-post">
                    <div class="profile">
                      <img src="https://media.licdn.com/dms/image/D5603AQG-i2XM6TBYmg/profile-displayphoto-shrink_100_100/0/1693675323212?e=1704931200&v=beta&t=wfgEtL16XmSPtenn8iAqB7nUwHDWchgECfkJ1G3mIz8" alt="">
                    </div>
                    <div class="profile-text">
                      <a href="#">Arun M</a>
                      <p>Software Engineer @ Zoho | 64K @ LinkedIn | Creator of One Stop Frontend | 10x your Growt...</p>
                      <span>1hr .&nbsp; <i class="fa-solid fa-earth-americas"></i></span>
                    </div>
                  </div>
                  <div class="post-img">
                    <img src="https://media.licdn.com/dms/image/D4D22AQExsashiXxuVw/feedshare-shrink_800/0/1698932458612?e=1701907200&v=beta&t=M7dN5BbkQ9aQaLtYVTjTUx0fdzO92vytx7eo6ijJs-U" alt="">
                  </div>
                  <div class="bottom-post-options">
                    <div class="top-like">
                      <div class="like">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-lightbulb"></i>
                        <a href="#">Vinay and 1200 others</a>
                      </div>
                      <div class="comment">
                        <a href="#">399 comments</a>
                        <a href="#">200 repost</a>
                      </div>
                    </div>
                    <div class="bottom-options-bar">
                      <div class="first-like">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <a href="#">Like</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-comment"></i>
                        <a href="#">Comment</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-circle-notch"></i>
                        <a href="#">Repost</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-rocket"></i>
                        <a href="#">Send</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-post">
                  <div class="profile-post">
                    <div class="profile">
                      <img src="https://media.licdn.com/dms/image/D5603AQG-i2XM6TBYmg/profile-displayphoto-shrink_100_100/0/1693675323212?e=1704931200&v=beta&t=wfgEtL16XmSPtenn8iAqB7nUwHDWchgECfkJ1G3mIz8" alt="">
                    </div>
                    <div class="profile-text">
                      <a href="#">Arun M</a>
                      <p>Software Engineer @ Zoho | 64K @ LinkedIn | Creator of One Stop Frontend | 10x your Growt...</p>
                      <span>1hr .&nbsp; <i class="fa-solid fa-earth-americas"></i></span>
                    </div>
                  </div>
                  <div class="post-img">
                    <img src="https://media.licdn.com/dms/image/D4D22AQExsashiXxuVw/feedshare-shrink_800/0/1698932458612?e=1701907200&v=beta&t=M7dN5BbkQ9aQaLtYVTjTUx0fdzO92vytx7eo6ijJs-U" alt="">
                  </div>
                  <div class="bottom-post-options">
                    <div class="top-like">
                      <div class="like">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-lightbulb"></i>
                        <a href="#">Vinay and 1200 others</a>
                      </div>
                      <div class="comment">
                        <a href="#">399 comments</a>
                        <a href="#">200 repost</a>
                      </div>
                    </div>
                    <div class="bottom-options-bar">
                      <div class="first-like">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <a href="#">Like</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-comment"></i>
                        <a href="#">Comment</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-circle-notch"></i>
                        <a href="#">Repost</a>
                      </div>
                      <div class="first-like">
                        <i class="fa-solid fa-rocket"></i>
                        <a href="#">Send</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="three">
              <div class="one-first">

              </div>
              <div class="one-second">
                
              </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>